# This is a basic workflow to help you get started with Actions
name: Build and push Podman image to dockerhub

on:
  schedule:
    - cron: "0 16 * * 0"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
   
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v5
     
    - name: Install Podman
      run: sudo apt-get -y install podman
    
    - name: Use Podman Build and Push Action
      uses: Frozen-Tapestry/container-action@v1
      with:
        login_registry: docker.io
        login_username: ${{ secrets.DOCKERHUB_USERNAME }}
        login_password: ${{ secrets.DOCKERHUB_TOKEN }}
        tags: docker.io/undergroundgoat/caddy-dns-sec:latest
        dockerfile: .
        security: |
          --security-opt=seccomp=unconfined
          --security-opt=apparmor=unconfined
        push: true
